{% extends 'base.html.twig' %}  

{% block body %}
<body>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
<style>

</style>
    <div class="container">

      <!-- Introduction Row -->
      <h1 class="my-4">About Us
       <center> <small> OUR TEAM MEMBER</small></center>
      </h1>
      
      <!-- Team Members Row -->
      <div class="spacer">
      <div class="row">
     

        <div class=" col-sm-6 text-center mb-4">
          <img class="img-rounded" src="http://placehold.it/200x200" alt="1">
          <h3>amine kacem
            
          </h3>
              </div>
        <div class=" col-sm-6 text-center mb-4">
          <img class="rounded float-right" src="http://placehold.it/200x200" alt="1">
          <h3>Jlouay meskini
            
          </h3>
           </div>
       </div>
    <!-- /.container -->

    </br>
</br>
</br>
</br>
</br>
</br>
</br>
</body>

{% endblock %}
{% block javascripts %}

   <script src="{{ asset('images/1.jpg')}}"></script>
    <script src="{{ asset('images/1.jpg')}}"></script>
{% endblock %}




