{% extends 'base.html.twig' %}
{% block body %}
<h1>Bienvenue !</h1>
{% for msg in  app.session.flashbag.get('info')%}
{{ msg }}
{% endfor %}

<body >
<div class="row">
<div class="col-sm-6">
{% for produit in produits %}

<div>{{produit.name}}</div>
<div><img class="thumbnail" class="rounded-circle" src="/uploads/photos/{{produit.image}}"></div>

<style>
.thumbnail {
	width: 190px;
	height: 190px;
	
}
</style>
<div>
<a class="btn btn-primary" href="details/{{produit.id}}">Details</a>

</div>
</div>



{% endfor %}

</div>
</body>

{% endblock %}